.flex-display {
    display:flex;
    flex-direction: row;
}

.flex-display-column {
    display:flex;
    flex-direction: column;
}

.flex-1 {
    flex:1 ;
    overflow:hidden;
    min-width: 10px;
}

.flex-2 {
    flex:2 ;
    overflow:hidden ;
    min-width: 20px;
}

.flex-3 {
    flex:3 ;
    overflow:hidden ;
    min-width: 30px;
}

.flex-4 {
    flex:4 ;
    overflow:hidden 
}

.flex-5 {
    flex:5 ;
    overflow:hidden 
}

.flex-6 {
    flex:6 ;
    overflow:hidden 
}

.flex-7 {
    flex:7 ;
    overflow:hidden 
}

.flex-8 {
    flex:8 ;
    overflow:hidden 
}

.flex-9 {
    flex:9 ;
    overflow:hidden 
}

.flex-10 {
    flex:10 ;
    overflow:hidden 
}
